* {
    font-family: 'Open Sans', sans-serif;
    color: #5d5d5a;
    font-size: 14px;
}

body {
    background-color: #fafafa;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #5d5d5a;
}

a:hover {
    color: #5d5d5a;
}

.nav {
    background-color: #2f2f2d;
    padding: 0.3rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.nav-list {
    display: flex;
}

.nav-flyout {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-flyout-menu .nav-item {
    margin: 1rem 0;
}

.nav-flyout-menu .nav-item .nav-link {
    padding: 2rem 6rem;
    width: 100%;
    height: 100%;
}

.nav-flyout-menu {
    display: none;
    position: absolute;
    background-color:#2f2f2d;
    top: 0;
    right: 0;
    margin-top: 60px;
}

.nav-flyout button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.nav-flyout button:hover {
    color: #eb8f17;
}

.nav-flyout-menu a:hover {
    color: #fff4e3;
}

.nav-item {
    margin: 0 2rem;
}

.nav-link {
    color: #fafafa;
}

.nav-link:hover {
    color: #eb8f17;
}

.form-control {
    width: 50%;
}

.container {
    padding: 6rem 1rem 0 1rem;
    margin: 0 auto;
}

.banner {
    padding: 0.5rem 4rem;
}

.fas {
    color: #fafafa;
    font-size: 1.5rem;
}

.fa-user-circle {
    font-size: 2rem;
    padding-right: 0.4rem;
}

.user-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 0.7rem;
    border-left: 1px solid #fafafa;
}

.user-label span,
.user-label strong {
    color: #fafafa;
}

.no-listings {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}


/* forms */

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 50%;
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    border: 0.5px solid #5d5d5a;
}

.add-listing-form select {
    width: 15%;
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    border: 0.5px solid #5d5d5a;
}

textarea {
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    border: 0.5px solid #5d5d5a
}

label {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

input[type="submit"] {
    margin-top: 1.5rem;
    padding: 0.6rem 2rem;
    width: 20%;
    background-color: #eb8f17;
    color: #fafafa;
    font-weight: 600;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, .1);
    border: none;
    border-radius: 0.2rem;
}

input[type="button"] {
    margin-top: 1.5rem;
    padding: 0.6rem 2rem;
    width: 20%;
    background-color: #5d5d5a;
    color: #fafafa;
    font-weight: 600;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, .1);
    border: none;
    border-radius: 0.2rem;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    opacity: 0.8;
    font-weight: 700;
}

.auction-card-list {
    list-style-type: none;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem 3rem;
}

.listing-card-item {
    transition: border 0.1s, transform 0.3s;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    cursor: pointer;
    background-color: white;
}

.listing-card {
    width: 100%;
}

.listing-card-item:hover {
    border: 1px solid #eb8f17;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}

.listing-card-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-card-image img {
    max-height: 200px;
}

.listing-card-image img:hover {
    opacity: 0.7;
}

.listing-card-content {
    padding: 1rem 2rem;
}

.listing-card-content h1 {
    text-align: end;
}

.hr-droid {
    display: flex;
    width: 100vw;
    margin-top: 3rem;
    position: absolute;
    left: 0;
}

.hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 0.3rem dotted #5d5d5a;
}

.fa-comments-dollar {
    position: relative;
    color: #eb8f17;
    font-size: 3rem;
}

.comment-section {
    margin-top: 8rem;
}

.comment-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.3rem;
    background-color: white;
    border: none;
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.15rem rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin: 2rem 0;
}

.comment-card:hover {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.25), 0 0.2rem 0.3rem rgba(0, 0, 0, 0.22);
}

.listing {
    display: flex;
}

.listing-image {
    width: 40%;
    min-height: 22rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
}

.listing-info {
    flex-grow: 1;
    padding: 1rem 3rem;
}

.user-options {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.user-options a {
    width: 20%;
    margin-right: 1rem;
}

.fa-times {
    color: #5d5d5a;
    font-size: 2rem;
}

.winner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff4e3;
    padding: 0.5rem 5rem;
    margin: 4.3rem auto 0 auto;
}

.winner h3 {
    margin: 1rem 0;
}

.closed h1 {
    color: #eb8f17;
    text-transform: uppercase;
    font-size: 7rem;
}

.error {
    color: #eb3a04
}

#remove-from-watchlist {
    float: right;
    padding: 1rem 1rem 0 0;
}

#user-option-button {
    width: 100%;
    max-width: none;
    margin-top: 0;
}

#id_bid,
#id_price {
    width: 20%;
}

@media screen and (min-width: 640px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .container {}
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    .container {}
}