{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>

    <div class="nav">
        <a href="{% url 'index' %}"><img src="{% static 'auctions/img/logo.png' %}" width="150px" alt="logo"></a>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_listings' %}">All Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories' %}">Categories</a></A>
            </li>
            <li class="nav-flyout">
                <div class="user-label">{% if user.is_authenticated %}<span> Hello <strong>{{ user.username }}</strong></span> {% else %}<span>Not signed in</span> {% endif %}</div>
                <button onclick="toggleFlyoutMenu()"><i class="fas fa-user-circle"></i><i class="fas fa-caret-down"></i></button>
                <ul class="nav-flyout-menu">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        {% block body %} {% endblock %}
    </div>
</body>
<script type="text/javascript" src="{% static 'auctions/main.js' %}"></script>

</html>